@import "themes.css";
body {
    margin-top: 20px;
}
.profile-container {
    margin-top: 172px;
}

.soft-border{
    border-radius:10px !important;
}
.left-profile {
    padding-top: 40px;
    height: 592px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color3-darker) !important;
    color: var(--color1);
}
.right-profile {
    max-height: 762px;
    height: 750px;
}
.edit-img {
    position: relative;
    right: -243px;
    top: 233px;
    width: 49px;
    height: 44px;
    border-radius: 50px !important;
    transition: all 0.5s;
    padding-bottom: 7px;
}
    .edit-img:hover {
        transition: all 0.5s;
        transform: scale(1.1);
        cursor: pointer;
        color:var(--color1-lighter);
    }
.edit-inf {
    width: 38px;
    position: relative;
    right: -236px;
    top: -15px;
}
    .edit-inf:hover {
        transition: all 0.5s;
        transform: scale(1.1);
        cursor: pointer;
        color: var(--color1-lighter) !important;
    }
    .profile-img {
        width: 250px;
        align-self: center;
        height: 250px;
        border-radius: 50%;
        border: 2px solid #f3d8d8;
    }
.profile-details {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}

.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

    .social-icon-style2 li {
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

a, a:active, a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary, .text-secondary-hover:hover {
    color: #59b73f !important;
}

.display-25 {
    font-size: 1.4rem;
}

.text-primary, .text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}

/*----------pie--------*/
/*--p: This variable should contain the percentage value as a number (without the % sign). It be should the same as the content.
--b: This variable will define the thickness of the border.
--c: This variable will define the main color.*/
@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

    .pie:before,
    .pie:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    .pie:before {
        inset: 0;
        background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
        mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    }

    .pie:after {
        inset: calc(50% - var(--b)/2);
        background: var(--c);
        transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
    }

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0,auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}
.stats-container {
    margin-top: 10px;
    width: auto;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.pie-container {
    margin-top: 10px;
    width: auto;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
/*----------------mylobby-----------------*/
.lobby-table {
    margin-block: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

    .lobby-table th {
        text-decoration: none;
    }
    .lobby-table tr {
        text-decoration: none;
        font-weight: 500;


    }
    .lobby-table th,
    .lobby-table td {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

        .lobby-table td:nth-child(1),
        .lobby-table th:nth-child(1) {
            width: var(--column_one_width);
        }

        .lobby-table td:nth-child(2),
        .lobby-table th:nth-child(2) {
            width: var(--column_two_width);
        }
        .lobby-table td:nth-child(3),
        .lobby-table th:nth-child(3) {
            width: var(--column_three_width);
        }
        .lobby-table td:nth-child(4),
        .lobby-table th:nth-child(4) {
            width: var(--column_four_width);
        }
        .lobby-table td:nth-child(5),
        .lobby-table th:nth-child(5) {
            width: var(--column_five_width);
        }


    .lobby-table thead {
        position: relative;
    }

        .lobby-table thead::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color3-darker) !important;
            border-radius: 8px;
        }

    .lobby-table th {
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: var(--header_text_color) !important;
        text-align: center;
        vertical-align: middle;
    }


        .lobby-table thead tr {
            display: block;
            position: relative;


        }

    .lobby-table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: var(--table_body_height);
    }

        .lobby-table tbody tr:nth-child(even) {
            background-color: var(--alternate_row_background_color) !important;
        }
/*----------------History-------------------*/
.history-table {
    margin-block: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

    .history-table th {
        text-decoration: none;
    }

    .history-table tr {
        text-decoration: none;
        font-weight: 500;
    }

    .history-table th,
    .history-table td {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

        .history-table td:nth-child(1),
        .history-table th:nth-child(1) {
            width: var(--column_one_width);
        }

        .history-table td:nth-child(2),
        .history-table th:nth-child(2) {
            width: var(--column_two_width);
        }

        .history-table td:nth-child(3),
        .history-table th:nth-child(3) {
            width: var(--column_three_width);
        }

        .history-table td:nth-child(4),
        .history-table th:nth-child(4) {
            width: var(--column_four_width);
        }

        .history-table td:nth-child(5),
        .history-table th:nth-child(5) {
            width: var(--column_five_width);
        }


    .history-table thead {
        position: relative;
    }

        .history-table thead::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color3-darker) !important;
            border-radius: 8px;
        }

    .history-table th {
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: var(--header_text_color) !important;
        text-align: center;
        vertical-align: middle;
    }


    .history-table thead tr {
        display: block;
        position: relative;
    }

    .history-table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: var(--history-table_body_height);
    }

        .history-table tbody tr:nth-child(even) {
            background-color: var(--alternate_row_background_color) !important;
        }
.line {
    border-bottom: 1px solid var(--color4);
    margin-block: 49px;
    margin-inline: 203px;
    box-shadow: 0px 2px 5px 1px var(--color2);
}