:root {
    /* Define your theme color variables */
    --cardlobby-height: 400px;
    --cardlobby-width: calc(var(--cardlobby-height) / 1.5);
    --color1: #f3e7e5;
    --color1-lighter: #fafafa;
    --color2: #2A3F1F;
    --color3: #0E1C36;
    --color3-darker: #060d18;
    --modalColor: #060d187c;
    --color4: #EBC60F;
    --color5: #7785AC;
    --color6: #ff0046;
    --header_background_color: #333;
    --header_text_color: #FDFDFD;
    --alternate_row_background_color: #DDD;
    --table_width: 750px;
    --table_body_height: 100px;
    --history-table_body_height: 330px;
    --column_one_width: 90px;
    --column_two_width: 130px;
    --column_three_width: 130px;
    --column_four_width: 90px;
    --column_five_width: 100px;
}
.bg-lighter-color {
    background-color: var(--color1-lighter) !important;
}

.bg-light-color {
    background-color: var(--color1) !important;
}

.lighter-color {
    color: var(--color1-lighter) !important;
}

.light-color {
    color: var(--color1) !important;
}

.blue-color {
    color: var(--color3) !important;
}

.dark-blue-color {
    color: var(--color3-darker) !important;
}

.bg-blue-color {
    background-color: var(--color3) !important;
}

.bg-dark-blue-color {
    background-color: var(--color3-darker) !important;
}
/*----------*/
.bg-green-color{
    background-color:var(--color2) !important;
}
.bg-gold-color {
    background-color: var(--color4) !important;
}
.green-color {
    color: var(--color2) !important;
}
.gold-color {
    color: var(--color4) !important;
}
.skyblue-color {
    color: var(--color5) !important;
}
.bg-skyblue-color {
    background-color: var(--color5) !important;
}
