<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow left-profile soft-border ">
                <h2 class="bg-dark-blue-color edit-img light-color"><i class="bi bi-camera "></i></h2>
				<img class="profile-img" src="https://i.guim.co.uk/img/media/a4cd1c28f32b066d2781edbb97bb4231392c2d42/7_133_3512_2107/master/3512.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=a1806b44a56d1b71ef26e5fee5436328" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">Player name</h3>
                        <span class="pt-2 skyblue-color">CF</span>
                    </div>
                    <ul class="list-unstyled mb-4 profile-details">
                        <li class="mb-3"><a class="light-color" href="#!"><i class="far fa-envelope display-25 me-3 light-color"></i>player@gmail.com</a></li>
                        <li class="mb-3"><a class="light-color" href="#!"><i class="fas fa-mobile-alt display-25 me-3 light-color" style="padding-left: 3px;"></i>+216 55 555 555</a></li>
                        <li><a class="light-color" href="#!"><i class="fas fa-map-marker-alt display-25 me-3 light-color" style="padding-left: 2px;"></i>adress (optional)</a></li>
                    </ul>
                    <h3 class="edit-inf"><i class="bi bi-pencil-fill"></i></h3>
                </div>

			</div>
            <div class="shadow bg-dark-blue-color soft-border ">
                <div class="light-color" style="height: 10px;margin-top: 10px;padding-block: 10px;display: flex;justify-content: space-evenly;">
                    <span>Wins</span><span>Draws</span><span>Losses</span>
                </div>
                <div class="pie-container">
                <div class="pie no-round light-color" style="--p:50;--c:green;--b:15px"> 5</div>
                <div class="pie no-round light-color" style="--p:10;--c:orange;--b:15px"> 1</div>
				<div class="pie no-round light-color" style="--p:40;--c:red;--b:15px"> 4</div>
				</div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5 bg-lighter-color soft-border pe-5 pt-4 right-profile">
                <div class="mb-5 wow fadeIn" style="height:200px;">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 blue-color">My Lobby :</h2>
                    </div>
                   </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 blue-color">My Games History :</h2>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>