@model CreateLobbyViewModel

<form asp-action="Create" method="post">


    <div class="form-group">
        <label asp-for="StadiumId" class="control-label"></label>
        <select asp-for="StadiumId" class="form-control" id="stadiumDropdown" name="stadiumId" required>
            <option value="">Select Stadium</option>
            @foreach (var stadium in ViewBag.Stadiums as SelectList)
            {
                <option value="@stadium.Value">@stadium.Text</option>
            }
        </select>
        <span asp-validation-for="StadiumId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TimeSlotId" class="control-label"></label>
        <select asp-for="TimeSlotId" class="form-control" name="timeSlotId" required>
            <option value="">Select Time Slot</option>
            <!-- Time slots will be populated dynamically using JavaScript or AJAX -->
        </select>
        <span asp-validation-for="TimeSlotId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedPlayerIds" class="control-label"></label>
        <select asp-for="SelectedPlayerIds" class="form-control" asp-items="ViewBag.AvailablePlayers" multiple="multiple" required>
        </select>
        <span asp-validation-for="SelectedPlayerIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LobbyName" class="control-label"></label>
        <input asp-for="LobbyName" class="form-control" required />
        <span asp-validation-for="LobbyName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Lobby</button>
</form>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Handle dynamic update of time slots based on the selected stadium
        $(document).ready(function () {
            $('#stadiumDropdown').change(function () {
                var selectedStadiumId = $(this).val();

                // Make an AJAX request to get time slots for the selected stadium
                $.ajax({
                    url: '/LobbyTeams/GetTimeSlots',
                    type: 'GET',
                    data: { stadiumId: selectedStadiumId },
                    success: function (data) {
                        // Update the time slot dropdown with the received data
                        $('#TimeSlotId').html(data);
                    }
                });
            });
        });
    </script>
}
