@{
    ViewData["Title"] = "About Page";
}

<div>
	<div class="contact-description">
	<h1>Contact Us</h1>
	<p>
		We're here to assist you. Feel free to reach out with any questions, 
		concerns, or feedback. Your satisfaction is our priority.
		</p>
	</div>
	<div class="contact-container">
		<div>
			<form action="" class="form contact-form">
				<div>
					<input type="text" placeholder="First Name" class="form__input" id="firstname" />
					<label for="firstname" class="form__label">First Name</label>
				</div>
				<div>
					<input type="text" placeholder="Last Name" class="form__input" id="lastname" />
					<label for="lastname" class="form__label">Last Name</label>
				</div>
				<div>
					<input type="email" placeholder="Email" class="form__input" id="email" />
					<label for="email" class="form__label">Email</label>
				</div>
				<div>
					<input type="text" placeholder="Phone Number" class="form__input" id="number" />
					<label for="number" class="form__label">Phone Number</label>
				</div>
				<div>
					<input type="text" placeholder="Subject" class="form__input" id="subject" />
					<label for="subject" class="form__label">Subject</label>
				</div>
				<div>
					<input type="text" placeholder="description" class="form__input" id="description" />
					<label for="description" class="form__label">description</label>
				</div>
				
			</form>
		</div>
		<div></div>
	</div>
</div>