@{
    ViewData["Title"] = "About Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div>
	<div class="contact-description">
	<h1>Contact Us</h1>
	<p>
		We're here to assist you. Feel free to reach out with any questions, 
		concerns, or feedback. Your satisfaction is our priority.
		</p>
	</div>
	<div class="contact-container">
		<div>
			<form action="" class="form contact-form">
				<p>
					Fill this form and send us any questions,
					concerns, or feedback :
				</p>
				<div>
					<input type="text" placeholder="First Name" class="form__input" id="firstname" />
					<label for="firstname" class="form__label">First Name</label>
				</div>
				<div>
					<input type="text" placeholder="Last Name" class="form__input" id="lastname" />
					<label for="lastname" class="form__label">Last Name</label>
				</div>
				<div>
					<input type="email" placeholder="Email" class="form__input" id="email" />
					<label for="email" class="form__label">Email</label>
				</div>
				<div>
					<input type="text" placeholder="Phone Number" class="form__input" id="number" />
					<label for="number" class="form__label">Phone Number</label>
				</div>
				<div>
					<input type="text" placeholder="Subject" class="form__input" id="subject" />
					<label for="subject" class="form__label">Subject</label>
				</div>
				<div>
					<textarea placeholder="description" class="textarea__input" id="description" /></textarea>
					<label for="description" class="textarea__label">Description</label>
				</div>
				<button type="submit"><i class="bi bi-send" style="margin:2px;"></i>Send</button>
			</form>
		</div>
		<div>
			
			
		</div>
	</div>
</div>