@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (TempData["error"] != null)
{
    <style>
        #toast-container > .toast-error {
            background-color: #BD362F;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["error"]');
    </script>   
}

@if (TempData["error2"] != null)
{
    <style>
        #toast-container > .toast-error {
            background-color: #BD362F;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["error2"]');
    </script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/lobbycard.css" asp-append-version="true" />
  


</head>
<div class="text-center">
    <h1 class="display-4 color1">Welcome @UserManager.GetUserName(User)</h1>
    <h1 class="page-title">Your Page Title and description</h1>
    <div class="cardlobby-container">


        <div class="cardlink" href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
            <div class="cardlobby">
                <div class="wrapper">
                    <img src="https://i.redd.it/7zk7aaai68w81.jpg" class="cover-image" />
                </div>
                <h1 class="title">Solo</h1>
                <p class="lobby-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="chooselobby">
                    <button onclick="window.location.href = '/LobbySolo/Create'" class="creatlobby-btn">Create lobby</button>
                    <button onclick="window.location.href = '/LobbySolo/AvailableLobbies'" class="joinlobby-btn">Join lobby</button>
                </div>
                <img src="~/Images/messi-2.png" class="character" />
            </div>
        </div>

        <div class="cardlink" href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
            <div class="cardlobby">
                <div class="wrapper">
                    <img src="https://i.pinimg.com/236x/d1/ec/79/d1ec7981cadbb4ee755cb8772ddc8024.jpg" class="cover-image" />
                </div>
                <h1 class="title">6vs6</h1>
                <p class="lobby-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                </p>
                <div class="chooselobby">
                    <button onclick="window.location.href = '/LobbyTeams/Create'" class="creatlobby-btn">Create lobby</button>
                    <button onclick="window.location.href = '/LobbyTeams/Join'" class="joinlobby-btn">Join lobby</button>
                </div>
                <img src="~/Images/kaka.png" class="character" />
            </div>
        </div>
        <div class="cardlink" href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
            <div class="cardlobby">
                <div class="wrapper">
                    <img src="https://s.cafebazaar.ir/images/upload/screenshot/littleappas.footballhd.wallpapers-1a424f9e-b34f-4b4c-8729-4fabf20f3687.jpeg?x-img=v1/resize,h_300,lossless_false" class="cover-image" />
                </div>
                <h1 class="title">12player</h1>
                <p class="lobby-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                </p>
                <div class="chooselobby">
                    <button onclick="window.location.href = '/LobbyFull/Create'" class="creatlobby-btn">Create lobby</button>
                </div>
                <img src="~/Images/ney-ron.png" class="character" />
            </div>
        </div>
	</div>
    <div class="line"></div>

</div>